
.blog--img--main {
    width: 100px;
    height: 60px;
}

.blog--MpCards--cat {
    display: inline-block;
    color: rgb(94, 94, 94);
    font-size: 16px;
    font-weight: 600;
}

.blog--MpCards--date {
    display: inline-block;
    color: rgb(94, 94, 94);
    font-size: 16px
}