* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  Styling For Pages (Routing Pages) */

.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
}

.home-text .home-text-heading {
  font-size: 2rem;
}

.home-text .home-text-sub-text {
  margin-top: 17px;
  color: #87898c;
}

.home-text .home-text-btns {
  margin-top: 70px;
}

.home-text .home-text-btns .btn {
  padding: 12px 15px 12px 15px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #02c39a;
  color: white;
}

.home-text .home-text-btns a {
  color: #000;
  margin-left: 20px;
  text-decoration: underline;
}

.home .home-img {
  margin-left: -20%;
}

.home .home-img img {
  width: 120%;
}
